name: Run Sales Portal API tests

permissions:
  contents: write

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.55.1-noble

    steps:
      - uses: actions/checkout@v4

      - name: Install OpenJDK
        run: |
          apt-get update
          apt-get install -y openjdk-17-jre
          echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))" >> $GITHUB_ENV

      - name: Install dependencies
        run: npm ci

      - name: Run API tests
        id: run-tests
        continue-on-error: true
        env:
          SALES_PORTAL_API_URL: ${{ secrets.SALES_PORTAL_API_URL }}
          USER_NAME: ${{ secrets.USER_NAME }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        run: npm run test:api

      - name: Create Allure report
        if: always()
        continue-on-error: true
        run: npm run allure-report

      - name: Deploy Allure report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report

      - name: Notify Telegram with Allure link
        if: always()
        continue-on-error: true
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BO_
